@import '@unocss/reset/tailwind-v4.css';

:root {
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  /* start default palette tokens */
  --shift-hover: -0.018;
  --shift-press: -0.03;

  --background: var(--neutral-950);
  --foreground: var(--neutral-50);

  --primary: var(--primary-500);
  --primary-foreground: var(--neutral-50);

  --accent: var(--primary-500);
  --ring: var(--primary-500);

  --secondary: var(--neutral-800);
  --secondary-raised: var(--neutral-700);
  --secondary-foreground: var(--neutral-50);

  --surface: var(--neutral-900);
  --surface-raised: var(--neutral-800);
  --surface-top: var(--neutral-700);
  --surface-foreground: var(--neutral-50);

  --input: var(--neutral-800);

  --hover: var(--neutral-800);
  --selected: var(--neutral-700);
  --toggled: var(--neutral-700);

  --border: var(--neutral-700);
  --border-strong: var(--neutral-600);

  --popover: var(--neutral-800);
  --popover-foreground: oklch(0.74 0 286);

  --muted: var(--neutral-800);
  --muted-foreground: var(--neutral-200);
  --accent-foreground: var(--neutral-50);

  --success: oklch(79% 0.21 147);

  --warn: oklch(73% 0.13 70);

  --danger: oklch(0.6 0.2 23);
  --danger-foreground: oklch(0.985 0 0);

  --overlay: oklch(0% 0 0 / 0.5);
  /* end default palette tokens */
}

@utility scrollbar-fancy {
  scrollbar-color: var(--border) transparent;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

@utility glow-* {
  box-shadow: 0 0 28px -3px oklch(from --value(--color-*) l c h / 0.3);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}

* {
  @apply border-border outline-ring/50 ring-ring/75 underline-offset-4;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  min-height: 0;
  min-width: 0;
}

html {
  scrollbar-color: var(--muted-foreground) transparent;
  overscroll-behavior: none;
}

body {
  @apply bg-background text-foreground font-sans text-pretty min-h-screen underline-offset-2 font-normal tracking-normal select-none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.0125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[style*='padding-right'] {
  padding-right: 0 !important;
}

@keyframes skeleton {
  0% {
    translate: -100% 0;
  }

  100% {
    translate: 300% 0;
  }
}

@keyframes skeleton {
  0% {
    translate: -100% 0;
  }

  100% {
    translate: 300% 0;
  }
}
