@import '@unocss/reset/tailwind-v4.css';

:root {
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --shift-hover: -0.018;
  --shift-press: -0.03;
}

@utility scrollbar-fancy {
  scrollbar-color: var(--border) transparent;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

@utility glow-* {
  box-shadow: 0 0 28px -3px oklch(from --value(--color-*) l c h / 0.3);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}

* {
  @apply border-border outline-ring/50 ring-ring/75 underline-offset-4;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  min-height: 0;
  min-width: 0;
}

html {
  scrollbar-color: var(--muted-foreground) transparent;
}

::selection {
  @apply bg-primary/50;
}

body {
  @apply bg-background text-foreground font-sans text-pretty min-h-screen underline-offset-2 font-normal tracking-normal select-none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.0185em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[style*='padding-right'] {
  padding-right: 0 !important;
}

@keyframes skeleton {
  0% {
    translate: -100% 0;
  }

  100% {
    translate: 300% 0;
  }
}

@keyframes skeleton {
  0% {
    translate: -100% 0;
  }

  100% {
    translate: 300% 0;
  }
}
