@import '@unocss/reset/tailwind-v4.css';

:root {
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --chroma: 273.85;

  --primary: oklch(57.74% 0.2091 var(--chroma));
  --accent: var(--primary);
  --ring: var(--primary);

  --background: oklch(0.985 0.001 var(--chroma));
  --foreground: oklch(0.3 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.205 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.37 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.205 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.93 0 0);
  --muted-foreground: oklch(from var(--foreground) calc(l * 1.25) c h);
  --accent-foreground: oklch(0.205 0 0);
  --danger: oklch(59.59% 0.1925 23.28);
  --danger-foreground: oklch(0.985 0 0);
  --border: oklch(0.86 0 0);
  --input: oklch(from var(--background) calc(l * 0.99) c h);

  --overlay: oklch(0% 0 0 / 0.725);
}

.dark {
  --background: oklch(18.31% 0.004 285.99);
  --foreground: oklch(95.27% 0.0027 286.35);
  --card: oklch(20.59% 0.0059 285.87);
  --card-2: oklch(24.52% 0.0075 285.83);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.74 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.32 0 0);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(from var(--background) calc(l * 1.55) c h);
  --muted-foreground: oklch(74.55% 0.0086 278.59);
  --accent-foreground: oklch(0.97 0 0);
  --danger: oklch(59.59% 0.1925 23.28);
  --danger-foreground: oklch(0.985 0 0);
  --border: oklch(28.3% 0.0091 285.81);
  --input: oklch(from var(--background) calc(l * 1.35) c h);
}
/* .dark {
  --background: oklch(17% 0.01 var(--chroma));
  --foreground: oklch(from var(--background) calc(l * 5.4) c h);
  --card: oklch(from var(--background) calc(l * 1.2) c h);
  --card-foreground: oklch(0.97 0 0);
  --popover: oklch(0.2 0 0);
  --popover-foreground: oklch(0.74 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.32 0 0);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(from var(--background) calc(l * 1.55) c h);
  --muted-foreground: oklch(from var(--muted) calc(l * 2.75) c h);
  --accent-foreground: oklch(0.97 0 0);
  --danger: oklch(0.62 0.22 27);
  --danger-foreground: oklch(0.985 0 0);
  --border: oklch(from var(--background) calc(l * 1.75) c h);
  --input: oklch(from var(--background) calc(l * 1.35) c h);
} */

@utility scrollbar-fancy {
  scrollbar-color: var(--border) var(--background);
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

@utility glow-* {
  box-shadow: 0 0 28px -3px oklch(from --value(--color-*) l c h / 0.3);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}

* {
  @apply border-border outline-ring/50 ring-ring/75;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  min-height: 0;
  min-width: 0;
}

html {
  scrollbar-color: var(--muted-foreground) var(--card);
}

::selection {
  @apply bg-primary/75;
}

body {
  @apply bg-background text-foreground font-sans text-pretty min-h-screen underline-offset-2 font-normal tracking-normal select-none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[style*='padding-right'] {
  padding-right: 0 !important;
}

.v-enter-active,
.v-leave-active {
  @apply animate-in fade-in-0 duration-100;
}

.v-enter-from,
.v-leave-to {
  @apply animate-out fade-out-0 duration-100;
}

.zoom-enter-active,
.zoom-leave-active {
  @apply animate-in fade-in-0 duration-100 zoom-in-95;
}

.zoom-enter-from,
.zoom-leave-to {
  @apply animate-out fade-out-0 duration-100 zoom-out-95;
}
